.input {
  height: 2rem;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  padding: 0px 7px;
  border-bottom: 1px solid transparent;
}

.input:focus {
  transition: border-bottom 0.2s;
  border-bottom: 1px solid aqua;
}

.input:focus-visible {
  outline: none;
}